{{ 'featured-products.css' | asset_url | stylesheet_tag }}
{{ 'featured-products.js' | asset_url | script_tag }}

<style>
  .featured-products__collection .item__inner .action-btn{
    background-color: {{ section.settings.bg-color }};
  }
</style>

<div class="featured-products">
  <h2 class="featured-products__title">{{ section.settings.title }}</h2>
  <ul class="featured-products__collection">
    {% for product in section.settings.products_collection.products %}
      {% liquid
        assign check = true
      %}
      {% if cart.item_count > 1 %}
        {% for item in cart.items %}
          {% assign first = product.variants.first %}
          {% if item.id == first.id %}
            {% liquid
              assign check = false
            %}
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if check != blank %}
        <li>
          {% render 'featured-collection-product', product:product, %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

{% schema %}
{
  "name": "Featured Products",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "label": "Title",
      "placeholder": "Text",
      "id": "title"
    },
    {
      "type": "collection",
      "id": "products_collection",
      "label": "Featured products collection"
    },
    {
      "type": "header",
      "content": "Button settings"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Text"
    },
    {
      "type": "color",
      "label": "Background color",
      "id": "bg-color",
      "default": "#4A97AF"
    }
  ],
  "presets": [
    {
      "name": "Featured Products"
    }
  ]
}
{% endschema %}
