.featured-products {
  display: flex;
  flex-direction: column;
  gap: 30px;
  &__title {
    width: 100%;
    text-align: center;
    margin: 0;
    font-family: var(--font-inter);
    font-weight: 800;
    font-size: 26px;
    line-height: 42px;
    color: #367488;
  }
  &__collection {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0;
    padding: 0;
    &--item {
      .item__link {
        text-decoration: none;
        color: #000;
        text-align: center;
      }
      .item__img {
        height: 295px;
        width: 100%;
        object-fit: cover;
      }
      .item__inner {
        padding: 0 16px;
        &--title {
          font-family: var(--font-inter);
          font-weight: 500;
          font-size: 20px;
          line-height: 26px;
          color: #000;
        }
        .action-btn {
          cursor: pointer;
          font-family: var(--font-inter);
          color: #fff;
          font-size: 14px;
          font-weight: 400;
          line-height: 26px;
          display: block;
          width: 100%;
          padding: 20px 35px;
          border-radius: 40px;
          border: none;
        }
      }
    }

    @media screen and (min-width: 728px) {
      & {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 30px;
        row-gap: 89px;
        flex-wrap: wrap;
        &--item {
          width: 443px;
        }
      }
    }

    @media screen and (min-width: 1024px) {
      & {
        padding: 0 30px;
        column-gap: 50px;
      }
    }
    @media screen and (min-width: 1440px) {
      & {
        padding: 0 227px;
        column-gap: 100px;
      }
    }
  }
}
